<div class="row-fluid">
  <div class="span8">
    <h2><%= name %> Dashboard</h2>
  </div>
  <div class="span4">
    <select name="date-range" id="filter-date">
      <option value="day">Today (April 8, 2013)</option>
      <option value="week">This Week (April 1, 2013 - April 8, 2013)</option>
      <option value="month">This Month (March 8, 2013 - April 8, 2013)</option>
    </select>
  </div>
</div>

<div class="row-fluid">
  <div id="dashboard-graph" class="span12">
    
  </div>
</div>

<div id="dashboard-stats" class="row-fluid">
  <div class="span12">
    <h4 class="dashboard-sub">Vote Statistics <span class="total-votes">10,000 total votes</span></h4>
  </div>
  
  <div class="row-fluid dashboard-header">
    <div class="span12">
      <div class="span1 col-header">
        Preview
      </div>
      <div class="span5 col-header">
        Title
      </div>
      <div class="span2 col-header">
        Author
      </div>
      <div class="span2 col-header">
        Created Date
      </div>
      <div class="span2 dashboard-votes col-header">
        Votes
      </div>
    </div>
  </div>
</div>

