<div class="row-fluid dashboard-row">
  <div class="span1">
    <img src="<%= logo_urls.thumb %>" alt="" />
  </div>
  <div class="span5">
    <strong><%= content %></strong>
  </div>
  <div class="span2">
    test
  </div>
  <div class="span2">
    April 1, 2013
  </div>
  <div class="span2 dashboard-votes">
    2,303 votes
  </div>
</div>