
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <link rel="shortcut icon" href="http://www.lookbook.nu/favicon.ico"
          type="image/x-icon">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10; chrome=1;">
    <meta name="fragment" content="!">
    <base target="_blank">
    <title>FEEDBACK | LOOKBOOK</title>

    <script type="text/javascript">
        function onSubmit() {
            document.getElementById('main_body').innerHTML = "<div class='afterwards'> <h1>Thanks for your" +
                    " feedback!</h1></div>";
            setTimeout(function(){window.location='http://www.lookbook.nu'}, 500);
        }
        </script>

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="/assets/survey.css">

</head>
<body>
<div id='main_body' class="main_content">
    <meta itemprop="name" content="LookBook Research">

    <div >
        <p id="lookbook" class="header" onmouseover="document.getElementById('lookbook').className = 'header_hover'" onmouseout="document.getElementById('lookbook').className = 'header';">LOOKBOOK</p>
    </div>

    <hr>


    <div class="ss-form-container">
        <div class="ss-top-of-page">

            <div class="ss-form-heading"><h1 class="ss-form-title" dir="ltr">Help us improve LOOKBOOK!</h1>
            </div>
        </div>

        <div class="intro">
            <p>Please take a minute to help improve LOOKBOOK. We want to make the site better for everybody, and
                your feedback is much appreciated :)</p>
        </div>

        <div class="ss-form">
            <script type="text/javascript">var submitted = false;</script>
            <iframe name="hidden_iframe" id="hidden_iframe"
                    style="display:none;" onload="if(submitted) {onSubmit()}">

            </iframe>
            <form action="https://docs.google.com/forms/d/1zKKeWvafHHHKNShyJ3_AdiUKa3hqiJmOOMiVWfNY4L8/formResponse"
                  method="post"
                  id="ss-form" target="hidden_iframe" onsubmit="submitted=true;">
                <ol style="padding-left: 0">
                    <div class="form_question">
                        <div dir="ltr" class="ss-item  ss-text">
                            <div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1756736582">
                                <div class="question">Why do you mainly use LookBook?
                                </div>
                                <div class="secondary_text" dir="ltr">For finding outfit ideas, submitting
                                    looks, browsing pictures, or something else?
                                </div>
                            </label>
                                <input type="text" name="entry.1756736582" value="" class="ss-q-short"
                                       id="entry_1756736582" dir="auto">

                            </div>
                        </div>
                    </div>
                    <div class="form_question">
                        <div dir="ltr" class="ss-item  ss-radio">
                            <div class="ss-form-entry"><label class="ss-q-item-label" for="entry_45991001">
                                <div class="question">Would you like to be able to rate looks based on originality?
                                </div>
                                <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                            </label>

                                <ul class="mc_choices">
                                    <li class="ss-choice-item"><label><span
                                            class="ss-choice-item-control goog-inline-block"><input type="radio"
                                                                                                    name="entry.1212089197"
                                                                                                    value="Yes"
                                                                                                    id="group_1212089197_1"
                                                                                                    class="ss-q-radio"
                                                                                                    aria-label="Yes"></span>
                                        <span class="ss-choice-label">Yes</span>
                                    </label></li>
                                    <li class="ss-choice-item"><label><span
                                            class="ss-choice-item-control goog-inline-block"><input type="radio"
                                                                                                    name="entry.1212089197"
                                                                                                    value="No"
                                                                                                    id="group_1212089197_2"
                                                                                                    class="ss-q-radio"
                                                                                                    aria-label="No"></span>
                                        <span class="ss-choice-label">No</span>
                                    </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form_question">
                        <div dir="ltr" class="ss-item  ss-radio">
                            <div class="ss-form-entry"><label class="ss-q-item-label" for="entry_699669087">
                                <div class="question">Would you like to be able to make your looks private, so only
                                    certain people can see them?
                                </div>
                                <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                            </label>

                                <ul class="mc_choices">
                                    <li class="ss-choice-item"><label><span
                                            class="ss-choice-item-control goog-inline-block"><input type="radio"
                                                                                                    name="entry.2010979077"
                                                                                                    value="Yes"
                                                                                                    id="group_2010979077_1"
                                                                                                    class="ss-q-radio"
                                                                                                    aria-label="Yes"></span>
                                        <span class="ss-choice-label">Yes</span>
                                    </label></li>
                                    <li class="ss-choice-item"><label><span
                                            class="ss-choice-item-control goog-inline-block"><input type="radio"
                                                                                                    name="entry.2010979077"
                                                                                                    value="No"
                                                                                                    id="group_2010979077_2"
                                                                                                    class="ss-q-radio"
                                                                                                    aria-label="No"></span>
                                        <span class="ss-choice-label">No</span>
                                    </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form_question">
                        <div dir="ltr" class="ss-item  ss-radio">
                            <div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1726253804">
                                <div class="question">If brands held contests, would you submit looks to win free
                                    clothes or gift cards?
                                </div>
                                <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                            </label>

                                <ul class="mc_choices">
                                    <li class="ss-choice-item"><label><span
                                            class="ss-choice-item-control goog-inline-block"><input type="radio"
                                                                                                    name="entry.639017602"
                                                                                                    value="Yes"
                                                                                                    id="group_639017602_1"
                                                                                                    class="ss-q-radio"
                                                                                                    aria-label="Yes"></span>
                                        <span class="ss-choice-label">Yes</span>
                                    </label></li>
                                    <li class="ss-choice-item"><label><span
                                            class="ss-choice-item-control goog-inline-block"><input type="radio"
                                                                                                    name="entry.639017602"
                                                                                                    value="No"
                                                                                                    id="group_639017602_2"
                                                                                                    class="ss-q-radio"
                                                                                                    aria-label="No"></span>
                                        <span class="ss-choice-label">No</span>
                                    </label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form_question">
                        <div dir="ltr" class="ss-item  ss-paragraph-text">
                            <div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1784770655">
                                <div class="question">What do you like most about LookBook?
                                </div>
                                <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                            </label>
                                <textarea name="entry.1784770655" rows="8" cols="0" class="text_entry"
                                          id="entry_1784770655" dir="auto"></textarea>

                            </div>
                        </div>
                    </div>
                    <div class="form_question">
                        <div dir="ltr" class="ss-item  ss-paragraph-text">
                            <div class="ss-form-entry"><label class="ss-q-item-label" for="entry_312346228">
                                <div class="question">What don&#39;t you like about LookBook?
                                </div>
                                <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                            </label>
                                <textarea name="entry.312346228" rows="8" cols="0" class="text_entry"
                                          id="entry_312346228" dir="auto"></textarea>

                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="draftResponse" value="[]
">
                    <input type="hidden" name="pageHistory" value="0">


                    <div class="ss-item ss-navigate">
                        <div class="ss-form-entry" dir="ltr">
                            <input type="submit" name="submit" value="Submit!" id="submit_button" class="button"
                                   onmouseout="document.getElementById('submit_button').style.backgroundColor = 'black'"
                                   onmouseover="document.getElementById('submit_button').style.backgroundColor = '#0cf'">
                        </div>
                    </div>
                </ol>
            </form>
        </div>
    </div>

    </br>
    <hr>

    <script type='text/javascript' src='/static/forms/client/js/2428632674-formviewer_prd.js'></script>
    <script type="text/javascript">_initFormViewer();</script>
</div>
</body>
</html>