<div class="columns row">
  <div id="col1" class="span2 glimpse-column">
  </div>

  <div id="col2" class="span2 glimpse-column">
  </div>

  <div id="col3" class="span2 glimpse-column">
  </div>

  <div id="col4" class="span2 glimpse-column">
  </div>

  <div id="col5" class="span2 glimpse-column">
  </div>
</div>
<div class="footer row">
  <button class="load-posts btn btn-block">Load more!</button>
</div>
