<div class="columns row">
  <div id="col1" class="glimpse-column span3">
  </div>

  <div id="col2" class="glimpse-column span3">
  </div>

  <div id="col3" class="glimpse-column span3">
  </div>

  <div id="col4" class="glimpse-column span3">
  </div>
</div>
<div class="footer row">
  <button class="load-posts btn btn-block">Load more!</button>
</div>
