<div class="row header">
  <h1 class="span8 page-header">About</h1>
</div>
<div class="row description">
  <p class="span8">Welcome to Additt! We are a crowdsourced ad creation platform where anybody in
  the world can create, submit, and get rewarded for their own ad. We founded this site on the simple idea
  that consumers know the products they use best. Who better understands a product than the people who
  love it and use it daily! Therefore, we believe that regular users can create a more targeted, effective,
  and relatable ad than professional ad agencies who are distanced from the actual consumers. Do you love a
  particular company or product? Then show your passion and creativity by creating an ad! Share it with friends,
  compete for votes, and get rewarded by the company. That's the power of Additt.
  </p>

</div>
<div class="row guide">
  <div class="span5 guide-user">
    <div class="header"><h2>User</h2></div>

    <!-- Begin Step 1 -->
    <div class="step-container row">
      <div class="step-header row">
        <span class="step-number">1.</span>
        <span class="step-summary">Create</span>
      </div>
      <div class="step-content">
        <div class="step-img span2">
          <img src="/assets/application/create-step.png" width=140 height=140 />
        </div>
        <div class="step-description span3">
          <p>Create an ad and submit it to a company's campaign using our web interface.</p>
        </div>
      </div>
    </div>
    <!-- End Step 1 -->

    <!-- Begin Step 2 -->
    <div class="step-container row">
      <div class="step-header row">
        <span class="step-number">2.</span>
        <span class="step-summary">Share</span>
      </div>
      <div class="step-content">
        <div class="step-img span2">
          <img src="/assets/application/share-step.png" width=140 height=140 />
        </div>
        <div class="step-description span3">
          <p>Share your ad with friends to get more votes and unlock more rewards!</p>
        </div>
      </div>
    </div>
    <!-- End Step 2 -->

    <!-- Begin Step 3 -->
    <div class="step-container row">
      <div class="step-header row">
        <span class="step-number">3.</span>
        <span class="step-summary">Rate and Review</span>
      </div>
      <div class="step-content">
        <div class="step-img span2">
          <img src="/assets/application/edit-step.png" width=140 height=140 />
        </div>
        <div class="step-description span3">
          <p>Earn points and boost your reputation by upvoting the best ads</p>
        </div>
      </div>
    </div>
    <!-- End Step 3 -->

  </div>
  <div class="span5 guide-company">
    <div class="header"><h2>Company</h2></div>

    <!-- Begin Step 1 -->
    <div class="step-container row">
      <div class="step-header row">
        <span class="step-number">1.</span>
        <span class="step-summary">Create a profile</span>
      </div>
      <div class="step-content">
        <div class="step-img span2">
          <img src="/assets/application/profile-step.png" width=140 height=140 />
        </div>
        <div class="step-description span3">
          <p>Sign up and complete your profile page so users can find your company.
         </p>
        </div>
      </div>
    </div>
    <!-- End Step 1 -->

    <!-- Begin Step 2 -->
    <div class="step-container row">
      <div class="step-header row">
        <span class="step-number">2.</span>
        <span class="step-summary">Run Campaigns</span>
      </div>
      <div class="step-content">
        <div class="step-img span2">
          <img src="/assets/application/campaign-step.png" width=140 height=140 />
        </div>
        <div class="step-description span3">
          <p>Launch a campaign so users can see your rewards and start submitting ads.</p>
        </div>
      </div>
    </div>
    <!-- End Step 2 -->

    <!-- Begin Step 3 -->
    <div class="step-container row">
      <div class="step-header row">
        <span class="step-number">3.</span>
        <span class="step-summary">Use the ads!</span>
      </div>
      <div class="step-content">
        <div class="step-img span2">
          <img src="/assets/application/use-step.png" width=140 height=140 />
        </div>
        <div class="step-description span3">
          <p>Pick your favorite ad submissions and use them to promote your product!</p>
        </div>
      </div>
    </div>
    <!-- End Step 3 -->

  </div>

</div>
