<div class="row header">
  <h1 class="span8 page-header">About</h1>
</div>
<div class="row description">
  <p class="span8">Additt is a crowdsourced ad platform. What does that mean? Well it lets companies draw on the wisdom of
  the crowd to create unique and engaging ads. Companies can register with us and immediately begin
  campaigning to people around the world for ad designs. Why would anyone want to help make ads for a company?
  For one, companies offer rewards to users that reach a certain amount of upvotes for their submitted ad --
  the best ads might even used by companies. The user then has the ability to build up a portfolio
  of all the ads he or she has created to show off to the world.
  </p>
</div>
<div class="row guide">
  <div class="span5 guide-user">
    <div class="header"><h2>User</h2></div>

    <!-- Begin Step 1 -->
    <div class="step-container row">
      <div class="step-header row">
        <span class="step-number">1.</span>
        <span class="step-summary">Create</span>
      </div>
      <div class="step-content">
        <div class="step-img span2">
          <img src="/assets/application/create-step.png" width=140 height=140 />
        </div>
        <div class="step-description span3">
          <p>Create an ad using our easy to use <a href="/link/to/playstore">mobile app</a> or with any medium of your choice. Make sure to
          upload it to the Additt website (this will be done automatically with the mobile app).        </p>
        </div>
      </div>
    </div>
    <!-- End Step 1 -->

    <!-- Begin Step 2 -->
    <div class="step-container row">
      <div class="step-header row">
        <span class="step-number">2.</span>
        <span class="step-summary">Share</span>
      </div>
      <div class="step-content">
        <div class="step-img span2">
          <img src="/assets/application/share-step.png" width=140 height=140 />
        </div>
        <div class="step-description span3">
          <p>Share your ad with friends to get more upvotes which will unlock more rewards!</p>
        </div>
      </div>
    </div>
    <!-- End Step 2 -->

    <!-- Begin Step 3 -->
    <div class="step-container row">
      <div class="step-header row">
        <span class="step-number">3.</span>
        <span class="step-summary">Rate and Review</span>
      </div>
      <div class="step-content">
        <div class="step-img span2">
          <img src="/assets/application/edit-step.png" width=140 height=140 />
        </div>
        <div class="step-description span3">
          <p>Earn points and boost your reputation by upvoting the highest quality ads</p>
        </div>
      </div>
    </div>
    <!-- End Step 3 -->

  </div>
  <div class="span5 guide-company">
    <div class="header"><h2>Company</h2></div>

    <!-- Begin Step 1 -->
    <div class="step-container row">
      <div class="step-header row">
        <span class="step-number">1.</span>
        <span class="step-summary">Fill out a profile</span>
      </div>
      <div class="step-content">
        <div class="step-img span2">
          <img src="/assets/application/profile-step.png" width=140 height=140 />
        </div>
        <div class="step-description span3">
          <p>Fill out your profile page so users can learn more about you and see the campaigns you're running
         </p>
        </div>
      </div>
    </div>
    <!-- End Step 1 -->

    <!-- Begin Step 2 -->
    <div class="step-container row">
      <div class="step-header row">
        <span class="step-number">2.</span>
        <span class="step-summary">Run Campaigns</span>
      </div>
      <div class="step-content">
        <div class="step-img span2">
          <img src="/assets/application/campaign-step.png" width=140 height=140 />
        </div>
        <div class="step-description span3">
          <p>Start a campaign as soon as possible to start incentivizing users to create ads for your company.</p>
        </div>
      </div>
    </div>
    <!-- End Step 2 -->

    <!-- Begin Step 3 -->
    <div class="step-container row">
      <div class="step-header row">
        <span class="step-number">3.</span>
        <span class="step-summary">Use the ads!</span>
      </div>
      <div class="step-content">
        <div class="step-img span2">
          <img src="/assets/application/use-step.png" width=140 height=140 />
        </div>
        <div class="step-description span3">
          <p>After your campaign is over start using the ads to promote your product.</p>
        </div>
      </div>
    </div>
    <!-- End Step 3 -->

  </div>

</div>
