<div class="row header">
  <h1 class="span8 page-header">About</h1>
</div>
<div class="row description">
  <p class="span8">Additt is a crowdsourced ad platform. What does that mean? Well it lets companies draw on the wisdom of
  the crowd to create unique and engaging ads. Companies can register with us and immediately begin
  campaigning to people around the world for ad designs. Why would anyone want to help make ads for a company?
  For one, companies offer rewards to users that reach a certain amount of upvotes for their submitted ad --
  the best ads might even used by companies. The user then has the ability to build up a portfolio
  of all the ads he or she has created to show off to the world.
  </p>
</div>
<div class="row guide">
  <p>This is where we have an image explaining the app.</p>

</div>
