<h1>Contract of Deliverables Tracker</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Last Week</th>
      <th>This Week</th>
      <th>% Increase</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Ads</td>
      <td>300</td>
      <td>350</td>
      <td>16%</td>
    </tr>
    <tr>
      <td>Users</td>
      <td>300</td>
      <td>350</td>
      <td>16%</td>
    </tr>
    <tr>
      <td>Companies</td>
      <td>300</td>
      <td>350</td>
      <td>16%</td>
    </tr>
    <tr>
      <td>Campaigns</td>
      <td>300</td>
      <td>350</td>
      <td>16%</td>
    </tr>
  </tbody>

</table>