<div class="row header">
  <h1 class="span8 page-header">FAQ</h1>
</div>
<div class="row faq-container">
  <div class="faq">
    <div class="row faq-question-container">
      <h3 class="faq-question span8">How do I collect my reward?</h3>
    </div>
    <div class="row faq-answer-container span8">
      <p>That depends on the reward. Coupons and other digital goods will most likely be delivered via email.
      Either way, we ensure you get your reward</p>
    </div>
  </div>
  <div class="faq">
    <div class="row faq-question-container">
      <h3 class="faq-question span8">Do I have to use the mobile app?</h3>
    </div>
    <div class="row faq-answer-container span8">
      <p>Nope! You can use photoshop or any tool of your choice and simply upload the ad via the website.</p>
    </div>
  </div>
</div>
<div class="row faq-footer">
  <span>Need more help? Contact us here: additt.team@gmail.com</span>
</div>
