<div class="row header">
  <h1 class="span8 page-header">FAQ</h1>
</div>
<div class="row faq-container">
   <div class="faq">
    <div class="row faq-question-container">
      <h3 class="faq-question span8">How do I create an ad?</h3>
    </div>
    <div class="row faq-answer-container span8">
      <p>An ad is simply any image that you think best represents a company. If you are
	  submitting to a certain campaign, read the campaign details to see what that company
	  is looking for. Your ad could be a simple picture, or it could include the company's
	  logo or a caption.</p>
    </div>
  </div>
   <div class="faq">
    <div class="row faq-question-container">
      <h3 class="faq-question span8">How do I submit an ad?</h3>
    </div>
    <div class="row faq-answer-container span8">
      <p>To submit an ad via the web interface, simply log in and click "Submit Ad"
	  on the top bar. From there you can choose an image to upload, a company to submit
	  it to, and a campaign to compete in.</p>
    </div>
  </div>
  <div class="faq">
    <div class="row faq-question-container">
      <h3 class="faq-question span8">What is a campaign?</h3>
    </div>
    <div class="row faq-answer-container span8">
      <p>A company runs a campaign to specify what type of ad it would like to 
		receive, as well as what rewards it will give out. Each company can have 
		multiple campaigns runnning at once, and each campaign runs for a set amount of time.
		You can submit as many ads as you like while the campaign is open. Once a campaign
		ends, winners are determined and rewards are distributed.</p>
    </div>
  </div>
  <div class="faq">
    <div class="row faq-question-container">
      <h3 class="faq-question span8">How are winners determined?</h3>
    </div>
    <div class="row faq-answer-container span8">
      <p>There are multiple ways to win a reward. Depending on the reward, your ad can
	  either reach a specified number of votes, be the highest rated, or be specially
	  chosen by the company. The criteria for each reward are chosen by the company, and
	  are listed under the campaign details on the company's page.</p>
    </div>
  </div>
  <div class="faq">
    <div class="row faq-question-container">
      <h3 class="faq-question span8">How do I collect my reward?</h3>
    </div>
    <div class="row faq-answer-container span8">
      <p>Digital rewards will be delivered via email while physical rewards will be
	  shipped with USPS.</p>
    </div>
  </div>
  <div class="faq">
  <div class="faq">
    <div class="row faq-question-container">
      <h3 class="faq-question span8">Do I have to use my own pictures?</h3>
    </div>
    <div class="row faq-answer-container span8">
      <p>You must own the rights to whichever picture you submit. Please do not submit
	  ads using copyrighted images that you don't have rights for. Furthermore, by 
	  submitting a picture you are giving Additt complete rights to that picture.</p>
    </div>
  </div>  
</div>
<div class="row faq-footer">
  <span>Need more help? Contact us here: additt.team@gmail.com</span>
</div>
