<h2>
Additt Terms and Conditions of Use
</h2>

<h3>
  1. Terms
</h3>

<p>
  By accessing this web site, you are agreeing to be bound by these 
  web site Terms and Conditions of Use, all applicable laws and regulations, 
  and agree that you are responsible for compliance with any applicable local 
  laws. If you do not agree with any of these terms, you are prohibited from 
  using or accessing this site. The materials contained in this web site are 
  protected by applicable copyright and trade mark law.
</p>

<h3>
  2. Use License
</h3>

<p>
  You may use our Products only if you can form a binding contract with Additt, and only in compliance with these Terms and all applicable laws. When you create your Additt account, you must provide us with accurate and complete information. Any use or access by anyone under the age of 13 is prohibited. If you open an account on behalf of a company, organization, or other entity, then (a) "you" includes you and that entity, and (b) you represent and warrant that you are authorized to grant all permissions and licenses provided in these Terms and bind the entity to these Terms, and that you agree to these Terms on the entity's behalf. Some of our Products may be software that is downloaded to your computer, phone, tablet, or other device. You agree that we may automatically upgrade those Products, and these Terms will apply to such upgrades. 
</p>

<h3>
  3. Disclaimer
</h3>

<p>
  The materials on Additt's web site are provided "as is". Additt makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Additt does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
</p>

<h3>
  4. Limitations
</h3>

<p>
  In no event shall Additt or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on Additt's Internet site, even if Additt or an Additt authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
</p>
      
<h3>
  5. Revisions and Errata
</h3>

<p>
  The materials appearing on Additt's web site could include technical, typographical, or photographic errors. Additt does not warrant that any of the materials on its web site are accurate, complete, or current. Additt may make changes to the materials contained on its web site at any time without notice. Additt does not, however, make any commitment to update the materials.
</p>

<h3>
  6. Links
</h3>

<p>
  Additt has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Additt of the site. Use of any such linked web site is at the user's own risk.
</p>

<h3>
  7. Site Terms of Use Modifications
</h3>

<p>
  Additt may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
</p>

<h3>
  8. Governing Law
</h3>

<p>
  Any claim relating to Additt's web site shall be governed by the laws of the State of California without regard to its conflict of law provisions.
</p>

<h3>
  9. Copyright Policy
</h3>

<p>
  Additt respects the intellectual property rights of others and expects its users to do the same. It is Additt's policy, in appropriate circumstances and at its discretion, to disable and/or terminate the accounts of users who repeatedly infringe or are repeatedly charged with infringing the copyrights or other intellectual property rights of others. You must possess complete rights to any image that you submit to Additt. Furthermore, Additt gains complete rights to all submitted images and may use them in any way it sees fit.
</p>

<h3>
  10. Your Submissions
</h3>

<p>
  Additt allows you to post content, including photos, comments, and other materials. Anything that you post or otherwise make available on our Products is referred to as "User Content." You are solely responsible for the User Content you post to Additt. You grant Additt and its users a non-exclusive, royalty-free, transferable, sublicensable, worldwide license to use, store, display, reproduce, modify, create derivative works, perform, and distribute your User Content on Additt solely for the purposes of operating, developing, providing, and using the Additt Products. Nothing in these Terms shall restrict other legal rights Additt may have to User Content, for example under other licenses. We reserve the right to remove or modify User Content for any reason, including User Content that we believe violates these Terms or our policies. 
</p>

<h3>
  11. Rewards
</h3>

<p>
  Additt reserves the right to oversee reward distribution as it sees fit. Rewards are in no way guaranteed, and any rewards granted are given as is.
</p>

