<footer class="navbar-fixed-to-bottom">
  <a href="/#faq" class="navbar-link">FAQ</a>
  <a href="/#terms" class="navbar-link">Terms</a>
  <a href="/#privacy" class="navbar-link">Privacy</a>
  <a href="/#about" class="navbar-link">About</a>
</footer>
