<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">MapleSyrup</a>
      <p class="navbar-text pull-right">
        <img src="http://placehold.it/25x25" />
        <a href="#" class="navbar-link">test@test.com</a>
      </p>
    </div>
  </div>
</div>