<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">MapleSyrup</a>
      <p class="navbar-text pull-right">
        <img src="http://placehold.it/25x25" />
        <% if @logged_in_user %>
          <a href="#" class="navbar-link"><%= @logged_in_user.email %></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#" class="navbar-link">Logout</a>
        <% else %>
          Not logged in
        <% end %>
      </p>
    </div>
  </div>
</div>