<div style="width: 50%; display: block; margin-left:auto; margin-right: auto">
<img src="http://themaplesyrupproject.com/wp-content/uploads/2013/02/ad1.jpg" style="height: 261px;">
<img src="http://themaplesyrupproject.com/wp-content/uploads/2013/02/photo1.jpg" style="height: 261px;">
<img src="http://origin.www.petaindia.com/cfs-filesystemfile.ashx/__key/CommunityServer-Components-SiteFiles/Images-Features/Rajneesh-Ad-1.jpg" style="height: 261px;">
</div>