<ul class="nav nav-pills nav-escape-above">
  <li class="active"><a href="#">All</a></li>
  <li><a href="#">Apple</a></li>
  <li><a href="#">Nike</a></li>
  <li><a href="#">Nintendo</a></li>
  <li><a href="#">Tesla</a></li>
</ul>