<div class="navbar navbar-inverse navbar-fixed-top navigation nav-escape-above company-nav">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class = "brand" href=<%= "/#companies/" + id %> ><%= name %></a>
		</div>
	</div>
</div>
<div id="company-header-image">
</div>

</div>
