<div class="glimpse">
  <div class="inner-glimpse">
    <div class="outer-feature">
      <div class="inner-feature">
        <h4><%= name %></h4>
      </div> 
    </div>
    <a href="#" class="open-img" data-img='<%= splash_image %>'>
      <img src="<%= splash_image %>">
    </a> 
  </div>
  <div class="glimpse-info">
    <div class="glimpse-meta">
      <h2> Follow / Unfollow </h2>
    </div>
  </div>
  <div class="clearfix"></div>
</div>