<div id="discover-companies-inner" class="discover-companies-columns">
  <div class="search">
    <input id="discover-companies-search" type="text" placeholder="Enter company name" />
  </div>

  <ul id="discover-companies-list">

  </ul>
</div>