<div id="col1" class="span3 glimpse-column">
</div>

<div id="col2" class="span3 glimpse-column">
</div>

<div id="col3" class="span3 glimpse-column">
</div>

<div id="col4" class="span3 glimpse-column">
</div>