<form accept-charset="UTF-8" action="/posts" class="new_post" enctype="multipart/form-data" id="new-post" method="post">
  <label for="post[title]">Title</label>
  <input type="text" name="post[title]" id="post-title" />

  <label for="post[content]">Content</label>
  <input type="text" name="post[content]" id="post-content" />

  <select id="company" name="post[company_id]">
  <% for (var i = 0; i < companies.length; i++) { %>
    <option value="<%= companies[i].id %>"><%= companies[i].name %></option>
  <% } %>
  </select>

  <label for="image">Image</label>
  <input type="file" name="post[image]" id="post-image" />

  <button id="post-submit">Submit</button>
</form>
