<div class="top-user">
  <img src="http://placehold.it/50x50" />
  <span class="top-user-name block"><a href="">Dana White</a></span>
  <span class="top-user-ads block uppercase light-text"><span class="num">70</span> ads</span>
  <span class="top-user-votes block uppercase light-text"><span class="num">4000</span> votes</span>
</div>