<div class="navbar navbar-inverse navbar-fixed-top navigation nav-escape-above nav-push-down">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class = "brand" href=<%= "/#users/" + id %> ><%= name %></a>
		</div>
	</div>
</div>
<div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span8">
			<div class="row-fluid">
				<div class="span8">
					<div class="hero-unit">
						<div id="user-posts-container" class="container-fluid posts-container">
							<h1> Recent User Posts </h1>
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span8">
					<div class="hero-unit">
						<h1> Companies User is following </h1>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span8">
					<div class="hero-unit">
						<h1> Users this user is following </h1>
					</div>
				</div>
			</div>
		</div>
		<div class="span4">
			<img src="<%= avatar %>" class="img-polaroid">
			<h3> User Avatar</h3>
			<h2> User Info </h2>
			<h1> User trophies </h1> 	
		</div>
	</div>
</div> 
