<div class="container">
	<div class="center">
		<div id="user-info-container">
			<img src="<%= avatar %>" class="img-polaroid small-photo pull-left">
			<div class="pull-left">
				<h2> <%= name %> </h2>
				<hr> 
				<p>
					<%= personal_info %>	
				</p>		
			</div>
		</div>
	</div>
</div>
<hr>
<div class="container-fluid">
	<div class="center">
		<div class="btn-group center-container">
	  	<button class="btn active">Posts</button>
  		<button class="btn">Likes</button>
  		<button class="btn">Following</button>
  		<button class="btn">Followers</button>
		</div>
	</div>
</div>
<div id="user-main-container" class="container-fluid nav-escape-above">

</div>
