<div class="navbar navbar-inverse navbar-fixed-top navigation nav-escape-above nav-push-down">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class = "brand" href=<%= "/#users/" + id %> ><%= name %></a>
		</div>
	</div>
</div>
<div id="user-posts-container" class="container-fluid posts-container-inv">
</div>