<div class="glimpse">
  <div class="inner-glimpse">
    <div class="outer-feature">
      <div class="inner-feature">
        <h4><%= name %></h4>
      </div> 
    </div>
    <a href="/#users/<%= id %>">
      <img src="<%= avatar %>">
    </a> 
  </div>
  <div class="glimpse-info">
    <div class="glimpse-meta">
      <% if (session.currentUser.id !== id && !company_signed_in) {%>
      <div class="follow-user-thumb">
      <% if (user_signed_in && _.contains(session.currentUser.users_im_following, id)) { %>
        <button class="btn btn-success pull-right">
          Following
        </button>
      <% } else if (!user_signed_in){ %>
        <a href="/users/sign_in" class="btn pull-right">
          <i class="icon-plus"></i> Follow
        </a>
      <% } else { %>
        <button class="btn pull-right">
          <i class="icon-plus"></i> Follow
        </button>
        <% } %>
        </div>
      <% } %>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
