<label for="campaign_id">Select Campaign</label>
  <select name="campaign_id">
    <% campaigns.forEach(function(campaign) { %>
      <option value="<%=campaign.get("id") %>"><%= campaign.get("title") %></option>
    <% }) %>
  </select>
