<%= render "shared/header" %>
<%= render "shared/subheader" %>

<div class="container-fluid">
  <div id="posts" class="row glimpses">
    <div class="span4 glimpse-column">
    </div>

<!--
    <div class="span4 glimpse-column">
      Second column
    </div>

    <div class="span4 glimpse-column">
      Third column
    </div>

    <div class="span4 glimpse-column">
      Fourth column
    </div>
-->
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function () {
    var posts = <%= Post.public_models(@posts) -%>;
    console.log(posts);

    window.router = new Maple.Routers.PostsRouter({ posts: posts});
    Backbone.history.start();
  });

</script>
