<%= render "shared/header" %>
<%= render "shared/subheader" %>

<div class="container-fluid">
  <div id="posts" class="row glimpses">
    <div class="span4 glimpse-column">
    </div>

<!--
    <div class="span4 glimpse-column">
      Second column
    </div>

    <div class="span4 glimpse-column">
      Third column
    </div>

    <div class="span4 glimpse-column">
      Fourth column
    </div>
-->
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function () {

    $.ajax({
      type: "GET",
      url: "/posts",
      dataType: "json",
      success: function(data) {
        console.log(data);
        window.router = new Maple.Routers.PostsRouter({ posts: data});
        Backbone.history.start();
      },
      error: function() {
        console.log("We have an error");
      }
    });


  });

</script>
