<%= render "shared/header" %>

<ul class="nav nav-pills nav-escape-above">
  <li class="active"><a href="#">All</a></li>
  <% for @company in @companies %>
    <li class="company-listing"><a href="#" filter=<%= "posts/" + @company.name %> ><%= @company.name %></a></li>
  <% end %>
</ul>

<div class="container-fluid">
  <div id="posts" class="row glimpses">
    <div class="span4 glimpse-column">
    </div>

<!--
    <div class="span4 glimpse-column">
      Second column
    </div>

    <div class="span4 glimpse-column">
      Third column
    </div>

    <div class="span4 glimpse-column">
      Fourth column
    </div>
-->
  </div>

</div>

<div id="imageModal" class="modal hide">
  <img id="imageInModal" src="" />
</div>
