<%= render "shared/header" %>

<div id="stepOne" class="well steps">
	<hr>
	<hr>
		<div id="stepOneText" class="stepText">
			<h1 style="text-align: center;">
				Find Projects You Love
			</h1>
		</div>
	<hr>
</div>
<hr>

<%= render "shared/sponsoredCompanies" %>

<hr>
<div id="stepTwo" class="well steps">
	<hr>
	<div id="stepTwoTex" class="stepText">
		<h1 style="text-align: center;">
			Build Beautiful Ads
		</h1>
	</div>
	<hr>
</div>

<hr>

<%= render "shared/promotedAds" %>

<hr>

<div id="stepThree" class="well steps">
<hr>
	<div id="stepThreeTex" class="stepText">
		<h1 style="text-align: center;">
			Rake in&nbsp;Rewards
		</h1>
	</div>
<hr>
</div>
<div class="container" style="width: 30%; margin: auto; padding-bottom: 20px">
	<a id="getStartedButton" class="btn btn-success actionButtons" href="#">
		<h2 style="text-align: center;">
			Let's Go!
		</h2>
	</a>
	<a id="getStartedButtons" class="btn btn-inverse actionButtons" href="#">
		<h2>
			For Companies
		</h2>
	</a>
</div>
