/*
Shared Styles
*/
body {
  font-family: 'Open Sans', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', "Helvetica", sans-serif;
  margin: 0;
}

.large-header {
  font-size: 56px;
  margin-bottom: 10px;
}

.sub-header {
  font-size: 28px;
  margin-bottom: 10px;
}

.row {
  width: 1200px;
}

.navbar-inverse .brand {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
}

.navbar-inverse .companyName
{
  font-size: 15px;
  font-weight: bold;
  color: #f89406;
}

.navbar-inverse .navbar-link {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
}

.navbar {
  margin-bottom: 0;
}

.navbar-inner {
  border-radius: 0px;
  padding: 0;
}

.nav {
  border-bottom: 10px;
}

.center {
  text-align: center;
}

/*
Home View
*/
#posts {
  margin: 0 auto;
}

.glimpse-column {
  width: 275px;
  margin-left: 0;
  margin-right: 20px;
}

.glimpse {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  width: 275px;
  margin: 0px 20px 20px 0px;
}

.inner-glimpse {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
}

.inner-glimpse .outer-feature {
  margin: 0;
  position: absolute;
  width: 100%;
  display: block;
  background-color: #000000;
  opacity: 0.8;
  bottom: 0px;
  text-align: left;
}

.inner-glimpse .outer-feature .inner-feature {
  color: #FFFFFF;
  margin: 10px;
}

.inner-glimpse .outer-feature .inner-feature h4 {
  margin-right: 50px;
}

.votes {
  float: right;
}

.votes .num-votes {
  font-weight: bold;
}

.glimpse-info {
  background-color: #FFFFFF;
  border-top: 1px solid #CCCCCC;
  padding: 5px;
}

.glimpse-info img {
  float: left;
}

.glimpse-meta {
  margin-left: 60px; 
  font-size: 12px;
}

.glimpse-meta .content {
  display: block;
}

.glimpse-meta .author {
  font-weight: bold;
  display: block;
}

.glimpse-meta .date {
  float: right;
}

.clearfix {
  clear: both;
}

/*
Login View
*/
.account-form {
  text-align: center;
  margin: 30px;
}

.account-form input[type="text"],
.account-form input[type="email"],
.account-form input[type="password"] {
  font-size: 18px;
  width: 300px;
  padding: 10px;
}