/*
Shared Styles
*/
body {
  font-family: 'Open Sans', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', "Helvetica", sans-serif;
  margin: 0;
}

.new-post {
  font-size: 12px;
  font-weight: bold;
  top: -10px;
}

#logo-placeholder {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  float: left;
  border: 1px solid #CCCCCC;
  text-align: center;
  font-size: 64px;
  line-height: 200px;
  font-weight: bold;
  color: #CCCCCC;
  background-color: #FFFFFF;
}

.company-content {
  margin-left: 220px;
  margin-bottom: 60px;
}

.modal h1 {
  margin-bottom: 20px;
}

.hero-unit {
  padding: 20px;
}

.nav-escape-above { padding-top: 40px;}

.large-header {
  font-size: 56px;
  margin-bottom: 10px;
}
.nav-push-down
{
  z-index: 1;
}

#company-splash-image
{
  margin-bottom: 40px;
  margin-top : -20px;
  width: 100%;
}

#splash-image-field
{
  display: none;
}

#company-header-image
{
  max-height: 400px;
  display: block;
}

.select-new-image-container
{
  height: 150px;
  border-bottom: 4px dashed #777; 
}

.select-new-image-option
{
  margin-top: 20px;
  text-align: center;
}
.select-new-image-container-inner
{
  text-shadow: 0px 1px 1px #4d4d4d;
  color: #222;
  height: 50px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 50px;
}

#opened-folder
{
  display: none;
}

#closed-folder
{
  
}

.file-loading
{
  display: none;
}

#loaded-image
{
  max-height: 100px  
}

[contenteditable="true"]
{
  outline: none;
}

[contenteditable="true"]:hover
{
  outline: 3px dashed #0090D2; 
  background-color: #fff;
  cursor: pointer;
}

.posts-container
{
  padding-top: 20px;
  background-color: white;   
}
.posts-container-inv
{
  padding-top: 20px;
  background-color: #333333;
}

.nav-push-down > .navbar-inner{
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(0,0,0,0.4)
}

.sub-header {
  font-size: 28px;
  margin-bottom: 10px;
}

.row {
  width: 1200px;
}

.navbar-inverse .brand {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  margin-right: 10px;
}

.navbar-inverse .companyName
{
  font-size: 15px;
  font-weight: bold;
  color: #f89406;
}

.navbar-inverse .navbar-link {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
}

.navbar {
  margin-bottom: 0;
}

.navbar-inner {
  border-radius: 0px;
  padding: 0;
}

.nav {
  border-bottom: 10px;
}

.center-container{
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

/*
Header View
*/
.navbar-text a {
  margin-right: 15px;
}

/*
Home View
*/
#posts {
  margin: 0 auto;
}

.glimpse-column {
  width: 275px;
  margin-left: 0;
  margin-right: 20px;
}

.glimpse {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  width: 275px;
  margin: 0px 20px 20px 0px;
}

.inner-glimpse {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
}

.inner-glimpse .outer-feature {
  margin: 0;
  position: absolute;
  width: 100%;
  display: block;
  background-color: #000000;
  opacity: 0.8;
  bottom: 0px;
  text-align: left;
}

.inner-glimpse .outer-feature .inner-feature {
  color: #FFFFFF;
  margin: 10px;
}

.inner-glimpse .outer-feature .inner-feature h4 {
  margin-right: 50px;
}

.vote {
  cursor: pointer;
}

.votes {
  float: right;
}

.votes .num-votes {
  font-weight: bold;
}

.glimpse-info {
  background-color: #FFFFFF;
  border-top: 1px solid #CCCCCC;
  padding: 5px;
}

.glimpse-info img {
  float: left;
}

.glimpse-meta {
  margin-left: 60px; 
  font-size: 12px;
}

.glimpse-meta .content {
  display: block;
}

.glimpse-meta .author {
  font-weight: bold;
  display: block;
}

.glimpse-meta .date {
  float: right;
}

.clearfix {
  clear: both;
}

/*
Login View
*/
.account-form {
  text-align: center;
  margin: 30px;
}

.account-form input[type="text"],
.account-form input[type="email"],
.account-form input[type="password"] {
  font-size: 18px;
  width: 300px;
  padding: 10px;
}